NetCore.PeddEval.Business/Service References/WSDocumentos/AdmArchivos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
  <xs:element name="SubirArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="fileAttachment" nillable="true" type="q1:ArrayOfFileAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubirArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubirArchivoResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajarArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="fileAttachment" nillable="true" type="q2:ArrayOfFileAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajarArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="BajarArchivoResult" nillable="true" type="q3:ArrayOfFileAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="ListarCategoriasResult" nillable="true" type="q4:ArrayOfTbDocCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>