NetCore.PeddEval.Business/Service References/WSDocumentos/AdmArchivos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileAttachment" nillable="true" type="tns:FileAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileAttachment" nillable="true" type="tns:ArrayOfFileAttachment" />
  <xs:complexType name="FileAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContentBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conBase64" type="xs:boolean" />
      <xs:element minOccurs="0" name="esPrivado" type="xs:boolean" />
      <xs:element minOccurs="0" name="intCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="intSubCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="strIdArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strUrlArchivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileAttachment" nillable="true" type="tns:FileAttachment" />
  <xs:complexType name="ArrayOfTbDocCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbDocCategoria" nillable="true" type="tns:TbDocCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbDocCategoria" nillable="true" type="tns:ArrayOfTbDocCategoria" />
  <xs:complexType name="TbDocCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="TbDocSubCategoria" nillable="true" type="tns:ArrayOfTbDocSubCategoria" />
      <xs:element minOccurs="0" name="intIdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="vhrCarpetaDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vhrDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TbDocCategoria" nillable="true" type="tns:TbDocCategoria" />
  <xs:complexType name="ArrayOfTbDocSubCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbDocSubCategoria" nillable="true" type="tns:TbDocSubCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbDocSubCategoria" nillable="true" type="tns:ArrayOfTbDocSubCategoria" />
  <xs:complexType name="TbDocSubCategoria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TbDocCategoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="intIdSubCategoria" type="xs:int" />
          <xs:element minOccurs="0" name="isExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="vhrCodigoBusqueda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vhrDirVirtualDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vhrSubCarpetaDestino" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TbDocSubCategoria" nillable="true" type="tns:TbDocSubCategoria" />
</xs:schema>