NetCore.PeddEval.Business/Service References/WSDocumentos/AdmArchivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdmArchivos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAdmArchivos_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmArchivos_SubirArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:SubirArchivo" />
  </wsdl:message>
  <wsdl:message name="IAdmArchivos_SubirArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubirArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmArchivos_BajarArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:BajarArchivo" />
  </wsdl:message>
  <wsdl:message name="IAdmArchivos_BajarArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajarArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmArchivos_ListarCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCategorias" />
  </wsdl:message>
  <wsdl:message name="IAdmArchivos_ListarCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCategoriasResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmArchivos">
    <wsdl:operation name="SubirArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmArchivos/SubirArchivo" message="tns:IAdmArchivos_SubirArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmArchivos/SubirArchivoResponse" message="tns:IAdmArchivos_SubirArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajarArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmArchivos/BajarArchivo" message="tns:IAdmArchivos_BajarArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmArchivos/BajarArchivoResponse" message="tns:IAdmArchivos_BajarArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmArchivos/ListarCategorias" message="tns:IAdmArchivos_ListarCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmArchivos/ListarCategoriasResponse" message="tns:IAdmArchivos_ListarCategorias_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAdmArchivos" type="tns:IAdmArchivos">
    <wsp:PolicyReference URI="#WSHttpBinding_IAdmArchivos_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubirArchivo">
      <soap12:operation soapAction="http://tempuri.org/IAdmArchivos/SubirArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajarArchivo">
      <soap12:operation soapAction="http://tempuri.org/IAdmArchivos/BajarArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap12:operation soapAction="http://tempuri.org/IAdmArchivos/ListarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdmArchivos">
    <wsdl:port name="WSHttpBinding_IAdmArchivos" binding="tns:WSHttpBinding_IAdmArchivos">
      <soap12:address location="http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dev.ultraport.cl/wcfAdmArchivos/AdmArchivos.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>